body {
  color: grey;
}

h1 {
  color: #444;
  font-size: 2.6em;
}

button {
background: grey;
color: white;
padding: 8px 12px;
border: 0;
margin: 5px;
font-size: 14px;
}

.headline {
  display: flex;
  justify-content: center;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
}

.friend-card {

  width: 49.7%;
  text-align: center;
}

.friend {
  margin: 20px;
  padding-bottom: 25px;
  border: 1px dotted grey;
}

.friend h2 {
  color: #444;
}

.friend-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.friend-form input {
  padding: 5px;
  font-size: 14px;
  margin: 0 10px;

}